@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
html{
  scroll-behavior: smooth;
}
ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}
.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    background-color: #0077b5;
    border: none;
    font-size: x-large;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;

}

header .navbar {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #0077b5;
    height: 50px;
}

.navbar .logo {
    height: 30px;
    width: auto;
    margin-left: 10px;

}

.navbar .logo-text {
  position: absolute;
    color: white;
    font-size: x-large;
    font-weight: bold;
    left: 60px;
    top: 9px;
    
}
.navbar .nav-menu{
  position: absolute;
  right: 20px;
}
.navbar .nav-menu .nav-link {
    padding: 8px 10px;
    margin-left: 5px;
    color: white;
    font-size: medium;
    border-radius: 20px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: black;
    background-color: white;
}



main {
    padding: 0px;
    height: 100vh;
    background: url('../images/home-image.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.home-section {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.home-section .section-content {
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    justify-content: space-between;
    padding-left: 60px;
}

.home-section .home-detail .title {
    font-size: 50px;
    font-family: 'Popins', sans-serif;
}

.home-section .home-detail .subtitle {
    margin-top: 20px;
    max-width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.social {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.resume {
  font-size: 18px;
  font-weight: bold;
    padding-top: 7px;
    padding-left: 12px;
    margin: 10px;
    height: 40px;
    width: 100px;
    color: rgb(49, 49, 49);
    background-color: white;
    border-radius: 20px;
    transition: transform 0.3s;
}

.resume:hover {
    transform: scale(1.2);
    background-color: #0077b5;
    color: #fff;
}

.contact-icons{
    color: white;
    margin: 30px 20px;
    transition: transform 0.3s;
}

.contact-icons:hover {
    transform: scale(1.2);
    color: #0077b5;
}


.home-section .home-image {
    text-align: right;
    margin-top: -540px;
    padding-right: 100px;
    width: 100%;

}

.home-image img {
    transform: scale(1.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    opacity: 0;
    animation: slideIn 1.5s ease-out forwards;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1.6);
    }
}

.animate-zoom-in {
    opacity: 0;
    animation: zoomIn 1.2s ease-out forwards;
}

.logo {
    animation-delay: 0.2s;
}

.animate-slide-in {
    animation-delay: 0.4s;
}

.animate-fade-in {
    animation-delay: 0.6s;
}

.animate-zoom-in {
    animation-delay: 0.8s;
}

/* About section */

.about-section {
    margin-top: 0px;

    color: #494949;
    height: 100vh;
}

.section-content1 {
    padding-top: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 100%;
    transform: scale(0.8);
    border-radius: 20px;
}

.about-col2 {
    flex-basis: 60%;
}

.about-subtitle {
    padding-top: 25px;
    font-size: 60px;
    font-weight: 600;
    color: #000;
}

.description {
    color: #000;
}

.tab-titles {
    display: flex;
    margin: 10px 0 40px;
    gap: 10px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3544b4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-content ul {
    display: block;
    flex-direction: column;


}

.tab-content ul li {
    display: list-item;
    margin: 5px 0;
}

.tab-content ul li span {
    color: #3544b4;
    font-size: 14px;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}

.tab-content .subject {
    color: #3544b4;
}

/* Service Section */

.service-section {
    margin-top: 10vh;
    padding: 100px 0px;
    text-align: center;
    height: 100vh;
    background: linear-gradient(135deg, #0b1d3a, #112b50);
}

.service-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
    color: white;
}

.service-title .highlight {
    color: #0077b5;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.service-card {
    background-color: #112b50;
    border: 2px solid #0077b5;
    border-radius: 16px;
    width: 300px;
    padding: 30px 20px;
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
}

.service-icon {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0077b5;
}

.service-card h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #ffffff;
}

.service-card p {
    font-size: 15px;
    line-height: 1.6;
    color: #cccccc;
}


/* Contact section */

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.contact-left, .contact-right {
  flex: 1 1 400px;
}
.contact-left{
    margin-top: 120px;
    margin-left: 100px;
}
.contact-left h2 {
  font-size: 50px;
    padding-top: 50px;
  margin-bottom: 10px;
}

.contact-left h2 span {
  color:#0077b5;
}

.contact-left h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.contact-left p {
  margin-bottom: 20px;
  color: #3f3f3f;
  line-height: 1.5;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #000; 
}

.contact-info i {
  margin-right: 10px;
  color: #0077b5;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-info i:hover{
    transform: scale(1.01) translateY(-5px);
    color:#0b1d3a;
}

.contact-socials a {
  display: inline-block;
  color:#0077b5;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.contact-socials a:hover {
  transform: scale(1.5);
  color: #112b50;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 70vh;
  margin-right: 100px;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);;
}

.contact-right input,
.contact-right textarea {
  color: black;
  margin: 20px;
  padding: 10px;
  border: 2px solid #474646;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.contact-right input::placeholder,
.contact-right textarea::placeholder {
  color: #aaa;
}

.contact-right button {
  background-color:#0077b5;
  margin: 10px 20px;
  color: black;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.contact-right button:hover {
  box-shadow: 0 0 20px #0077b5;
}



 




/* Responsive nav bar section */

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar .logo-text {
    margin-left: 0px;
    font-size: 24px;
  }

 
  

  .nav-menu {
    flex-direction: column;
    background-color:#0077b5;
    position: absolute;
    top: 50px;
    width: 150px;
    display: none;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-in-out;
    margin-right: 0px;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-link {
    display: flex;
    color: white;
    padding: 5px;
    gap: 15px;
    text-align: left;
    transition: 0.3s;
  }
  .nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  .menu-icon{
    display: flex;
  }
}

/* responsive home section */

@media (max-width: 768px) {
  
  .home-section .section-content {
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    height: 80vh;
  }

  .home-section .home-image {
    position: absolute;
    bottom: 55px;
    right: -90px;
    opacity: 0.3;
   
  }

  .home-image img {
    margin-top: 50px;
    height: 70%;
    width: 70%;
    transform: scale(0.5);
    z-index: 0;
  }

  .home-section .home-detail .title {
    font-size: 36px;
  }

  .home-section .home-detail .subtitle {
    font-size: 22px;
  }

  .social {
    position: absolute;
    margin-left: 65px;
    z-index: 2;
    justify-content: center;
  }
  .social .resume{
    padding-right: 10px;
  }
}

/* responsive about section */

@media (max-width: 768px ) {
    .about-section{
        height: 160vh;
    }
  .row {
    flex-direction: column;
    align-items: center;
  }

  .about-col1,
  .about-col2 {
    margin-top: -150px;
    flex-basis: 100%;
    text-align: center;
  }
  .about-col1 img {
   
    transform: scale(0.5);
  }
  .about-subtitle {
    font-size: 36px;
  }
  .about-col2 .description{
    margin: 0 10px;
  }
  .about-col2 .tab-titles{
    margin-left: 50px;
    
  }
  .about-col2 .tab-content{
    margin: 0 10px;
    top: 30px;
    left: 0;
  }
}

/* responsive service section */

@media (max-width: 768px) {
  .service-section {
    padding: 50px 10px;
    height: 170vh;
  }

  .service-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .service-card {
    width: 90%;
  }

  .service-content {
    flex-direction: column;
    align-items: center;
  }
}

/* responsive contact section */
@media (max-width: 1024px) {
  .contact-left {
    margin-left: 50px;
    margin-top: 100px;
  }

  .contact-right form {
    width: 90%;
    margin: 100px auto 0;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 30px 20px;
  }

  .contact-left {
    margin:auto;
    text-align: center;
    
  }

  .contact-left h2 {
    font-size: 40px;
    padding-top: 20px;
  }

  .contact-left h4 {
    font-size: 18px;
  }

  .contact-info p {
    font-size: 18px;
  }

  .contact-socials {
    text-align: center;
  }

  .contact-right form {
    width: 400px;
    height: auto;
    margin: 10px 0;
    padding: 20px;
  }

  .contact-right input,
  .contact-right textarea {
    margin: 10px 0;
    width: 100%;
  }

  .contact-right button {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .contact-left h2 {
    font-size: 30px;
  }

  .contact-left h4 {
    font-size: 16px;
  }

  .contact-info p {
    font-size: 16px;
  }

  .contact-socials a {
    font-size: 20px;
    margin-right: 10px;
  }

  .contact-right form {
    box-shadow: none;
  }
}

/* success page */
